{{define "yield"}}
<style>
    @media screen and (min-width: 700px) {
        .row {
            height: 300px;
        }
    }
</style>
<h1 class="mt-4 mb-3">Bienvenue {{.Username}} !</h1>
<h2 class="mt-4 mb-3">Trouve le terrain le plus proche de chez toi en saisissant une adresse la plus précise possible !
</h2>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Ex: 14 Quai de la Seine, 75019 Paris" aria-label=""
        aria-describedby="basic-addon1" name="adress" id="adressInput">
    <div class="input-group-append">
        <button class="btn btn-primary mb-2" type="button" id="adressBtn">Rechercher</button>
    </div>
</div>

<div id="searchNearestResults"></div>
<br>
<script>
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(async function (position) {
            fetch(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyD4Fsmf0w8DQ0pR5s8_LnUUrIKbIZDlFrY`).then(res => res.json()).then(adress => {
                console.log(adress)
                fetchNearestPlaygroundsAndDisplay(adress.results[0].formatted_address)
                input.value = adress.results[0].formatted_address;
            })
        })
    }

    const submitBtn = document.querySelector('#adressBtn')
    const input = document.querySelector('#adressInput')
    const results = document.querySelector('#searchNearestResults')
    submitBtn.addEventListener('click', () => {
        fetchNearestPlaygroundsAndDisplay(input.value)
    })

    input.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            fetchNearestPlaygroundsAndDisplay(input.value)
        }
    });

    function fetchNearestPlaygroundsAndDisplay(adress) {
        fetch("/api/nearestPlaygrounds?adress=" + adress).then(res => res.json()).then(playgrounds => {
            console.log(playgrounds)
            if (playgrounds.length === 0) {
                results.innerHTML = `
            <h2 class="mt-4 mb-3">Il n'y pas de résultats pour cette adresse</h2>
            `;
            } else {
                results.innerHTML = `
            <h2 class="mt-4 mb-3">Résultats par ordre de proximité</h2>
<hr>
            `;
                playgrounds.map(playground => {
                    const div = document.createElement('div');
                    div.innerHTML = `
    <div class="col-md">
        <h4>${playground.name}</h4>
        <p>${playground.adress}</p>
        <a class="btn btn-primary" href="/playgrounds/${playground.ID}">Plus de détails
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
<hr>
                `
                    results.appendChild(div)
                })
            }
        })
    }

    const navLinks = document.querySelectorAll(".nav-link")
    const navLink = document.querySelector("#home")

    navLinks.forEach(navLink => {
        navLink.classList.remove("active")
    })
    navLink.classList.add("active")
</script>
{{end}}