{{define "yield"}}
<div class="container">
    <div class="row">
        {{range .}}
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{.Name}}</a>
                    </h4>
                    <p class="card-text">
                        <ul>
                            <li>{{.Long}}</li>
                            <li>{{.Lat}}</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{end}}