{{define "yield"}}
<div class="alert" id="result"></div>
<h1>Ajouter terrain :</h1>
<hr>
<h1 class="mt-4 mb-3">{{.Data.Name}}
</h1>
<div class="row">
    <div class="col-md-8">
        <h4>Soumis par <span class="text-secondary">{{.Data.Author}}</span></h4>
        <h4>Le <span class="text-secondary">{{.Data.TimeOfSubmission.Format "02-01-2006 15:04:05"}}</span></h4>
        <h3>Description</h3>
        <p>.</p>
    </div>
</div>

<form id="acceptPlaygroundForm">
    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" name="address" value="{{.Data.Address}}" required
                pattern=".*\S+.*">
        </div>
    </div>
    <div class="form-group row">
        <label for="postal_code" class="col-sm-2 col-form-label">Code postal</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="postal_code" name="postal_code" value="{{.Data.PostalCode}}"
                required minlength="5" maxlength="5" pattern="[0-9]{5}" title="Ex : 75019">
        </div>
    </div>
    <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">Ville</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="city" name="city" value="{{.Data.City}}" required
                pattern=".*\S+.*">
        </div>
    </div>
    <div class="form-group row">
        <label for="department" class="col-sm-2 col-form-label">Département</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="department" name="department" value="{{.Data.Department}}"
                required pattern=".*\S+.*">
        </div>
    </div>
    <div class="form-group row">
        <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="longitude" name="longitude" placeholder="Ex : 2.38085"
                step="any" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="latitude" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="latitude" name="latitude" placeholder="Ex : 48.80278"
                step="any" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="type" name="type" value="{{.Data.Type}}" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="coating" class="col-sm-2 col-form-label">Revêtement</label>
        <div class="col-sm-10">
            <select class="custom-select" id="coating" name="coating" form="acceptPlaygroundForm">
                <option selected value="Synthétique (hors gazon)">Synthétique (hors gazon)</option>
                <option value="Bitume">Bitume</option>
                <option value="Gazon synthétique">Gazon synthétique</option>
                <option value="Parquet">Parquet</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="open" class="col-sm-2 col-form-label">Couvert</label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="open" name="open">
            </div>
        </div>
    </div>
    <input type="number" class="invisible" name="ID" value="{{.Data.ID}}">

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Accepter</button>
        </div>
    </div>
</form>

</br>
<script>
    const resultDiv = document.querySelector("#result")
    const acceptPlaygroundForm = document.getElementById("acceptPlaygroundForm");
    acceptPlaygroundForm.addEventListener("submit", function (e) {
        e.preventDefault()

        const formData = new FormData(this)
        const searchParams = new URLSearchParams()

        for (const pair of formData) {
            searchParams.append(pair[0], pair[1]);
        }

        fetch("/api/playgrounds", {
            method: 'POST',
            body: searchParams,
        }).then(res => {
            if (res.status === 202) {
                resultDiv.classList.add("alert-success");
                resultDiv.classList.remove("alert-danger");
                resultDiv.innerHTML = "Terrain ajouté";
                resetInputValues();
                return
            }
            resultDiv.classList.remove("alert-success");
            resultDiv.classList.add("alert-danger");
            resultDiv.innerHTML = "Le terrain n'a pas été ajouté";
        })
    })

    function resetInputValues() {
        document.querySelectorAll("input").forEach(button => {
            button.value = "";
        })
    }


    const navLinks = document.querySelectorAll(".nav-link")
    const navLink = document.querySelector("#submittedPlaygrounds")
    console.log(navLink)

    navLinks.forEach(navLink => {
        navLink.classList.remove("active")
    })
    navLink.classList.add("active")
</script>
{{end}}